#sectionAbout
    margin-top: 70px
    #divAbout
        #divA1
            text-align: center
            margin-bottom: 50px
            img
                transition: 0.4s ease
            img:nth-child(1)
                height: 100px
                margin-right: 20px
                filter: grayscale(100%)
            img:nth-child(1):hover
                filter: grayscale(0%)
                transition: 0.4s ease
            img:nth-child(2)
                height: 100px
                filter: grayscale(100%)
            img:nth-child(2):hover
                filter: grayscale(0%)
                transition: 0.4s ease
            img:nth-child(3)
                height: 100px
                filter: grayscale(100%)
            img:nth-child(3):hover
                filter: grayscale(0%)
                transition: 0.4s ease
            img:nth-child(4)
                height: 100px
                filter: grayscale(100%)
                margin-left: 10px
            img:nth-child(4):hover
                filter: grayscale(0%)
                transition: 0.4s ease
        #divA2
            text-align: center
            i
                font-size: 100px
                margin-left: 25px
                margin-right: 25px
                transition: 0.4s ease
            i:nth-child(1):hover
                color: #807f7f
                transition: 0.4s ease
            i:nth-child(2):hover
                color: #c74a02
                transition: 0.4s ease
            i:nth-child(3):hover
                color: #0240b3
                transition: 0.4s ease
            i:nth-child(4):hover
                color: #f518c5
                transition: 0.4s ease
            i:nth-child(5):hover
                color: #e9b301
                transition: 0.4s ease
            i:nth-child(6):hover
                color: #276ae7
                transition: 0.4s ease
    #texteAbout
        margin-top: 60px
        text-align: center
        font-family: libertiner
        font-size: 1.75vw
        p
            margin: 15px 0 15px 0
            #spanStudio
                font-family: cinematografica-regular
                font-size: 2.2vw
            #spanLive
                font-family: wob
                font-size: 1.7vw
                transition: 0.4s ease
            #spanLive:hover
                transition: 0.4s ease
                text-shadow: 1px 1px 2px #ffd258, 0 0 1em #ffd258, 0 0 0.2em #ffd258
            #spanThesis
                font-family: typewriter-regular
                font-size: 1.7vw
                transition: 0.4s ease
            #spanPolarityRev
                font-size: 1.6vw
            #spanBuilding
                font-family: unbutton
                font-size: 1.5vw

// IPAD PRO
@media screen and (min-width:769px) and (max-width:1024px)
    #sectionAbout
        margin-top: 160px
        #texteAbout
            margin-top: 130px
            margin-left: 70px
            margin-right: 70px
            font-size: 3vw
            text-align: left
            p
                margin: 25px 0 25px 0
                #spanStudio
                    font-size: 3.8vw
                #spanLive
                    font-size: 2.8vw
                #spanThesis
                    font-size: 2.9vw
                #spanPolarityRev
                    font-size: 2.6vw
                #spanBuilding
                    font-size: 2.7vw
