#sectionContact
    margin-top: 70px
    h1
        font-family: forum
        font-size: 60px
        position: fixed
        right: 10%
        bottom: 20%
    #twoDivs
        display: flex
        justify-content: center
        font-size: 30px
        #divContactLeft
            font-family: typewriter-regular
            width: 45%
            #divNameMail
                display: flex
                margin-bottom: 20px
                .nameMail
                    width: 50%
                    p
                        font-size: 24px
                    input
                        width: 90%
            #divMessage
                p
                    font-size: 24px
                #textareaOne
                    width: 95%
                    background-color: black
                    color: white
                    border-radius: 4px
                #textareaTwo
                    width: 95%
                    background-color: black
                    color: white
                    border-radius: 4px                    
                    display: none
            #divSubmit
                margin-top: 30px
                text-align: center
                button
                    color: white
                    background-color: black
                    font-family: unbutton
                    font-size: 30px
                    padding: 10px 20px 20px 20px
                    transition: 0.1s ease
                    border-radius: 4px
                button:hover
                    // outline: 2px solid black
                    // border-radius: 4px
                    box-shadow: 0 0 4px #000000
                    background-color: white
                    color: black
                    transition: 0.1s ease
        #divContactRight
            width: 45%
            font-family: libertiner
            margin-left: 30px
            padding-left: 30px
            margin-top: 50px
            .contactPart
                display: flex
                margin-bottom: 20px
                p
                    margin-left: 20px
                i
                    margin-top: 12px
                #pAdress
                    margin-left: 33px
                #pMail
                    font-size: 26px
            .contactPart:nth-child(2)
                p
                    font-family: open
                    font-size: 32px
            .contactPart:nth-child(3)
                p
                    font-family: typewriter-regular

p
    margin: 10px 0 10px 0

input
    height: 30px
    background-color: black
    color: white
    border-radius: 4px

// IPAD PRO
@media screen and (min-width:769px) and (max-width:1024px)
    #sectionContact
        h1
            bottom: 15%
        #twoDivs
            display: block
            #divContactLeft
                width: 70%
                margin-left: 150px
            #divContactRight
                width: 70%
                margin-left: 210px
                margin-top: 100px

// IPAD
@media screen and (min-width:540px) and (max-width:769px)
    #sectionContact
        margin-top: 40px
        h1
            display: none
        #twoDivs
            display: block
            #divContactLeft
                width: 70%
                margin-left: 130px
                #divSubmit
                    margin-top: 30px
                    text-align: center
                    button
                        color: white
                        background-color: black
                        font-family: unbutton
                        font-size: 24px
                        padding: 10px 20px 20px 20px
            #divContactRight
                width: 70%
                margin-left: 100px
                margin-top: 60px
    
// IPHONE X
@media screen and (min-width:375px) and (max-width:539px)
    #sectionContact
        margin-top: 30px
        h1
            display: none
        #twoDivs
            display: block
            #divContactLeft
                width: 85%
                margin-left: 32px
                #divMessage
                    #textareaOne
                        display: none
                    #textareaTwo
                        display: block
                #divSubmit
                    margin-top: 30px
                    text-align: center
                    button
                        color: white
                        background-color: black
                        font-family: unbutton
                        font-size: 20px
                        padding: 6px 20px 12px 20px
            #divContactRight
                width: 70%
                margin-left: 20px
                margin-top: 30px
                .contactPart
                    display: flex
                    margin-bottom: 10px
                    p
                        margin-left: 20px
                    i
                        font-size: 16px
                    #pAdress
                        margin-left: 33px
                        font-size: 16px
                    #pTelephone
                        font-size: 18px
                    #pMail
                        font-size: 16px

// SMALLER - MOTO G4
@media screen and (max-width:374px)
    #sectionContact
        margin-top: 30px
        h1
            display: none
        #twoDivs
            display: block
            #divContactLeft
                width: 85%
                margin-left: 32px
                #divMessage
                    #textareaOne
                        display: none
                    #textareaTwo
                        display: block
                #divSubmit
                    margin-top: 30px
                    text-align: center
                    button
                        color: white
                        background-color: black
                        font-family: unbutton
                        font-size: 20px
                        padding: 6px 20px 12px 20px
            #divContactRight
                width: 70%
                margin-left: 20px
                margin-top: 70px
                margin-bottom: 90px
                .contactPart
                    display: flex
                    margin-bottom: 10px
                    p
                        margin-left: 20px
                    i
                        font-size: 16px
                    #pAdress
                        margin-left: 33px
                        font-size: 16px
                    #pTelephone
                        font-size: 18px
                    #pMail
                        font-size: 16px