#sectionContact
    display: flex
    justify-content: center
    font-size: 30px
    margin-top: 40px
    #divContactLeft
        font-family: typewriter-regular
        width: 40%
        #divNameMail
            display: flex
            margin-bottom: 40px
            .nameMail
                width: 50%
                input
                    width: 90%
        #divMessage
            textarea
                width: 95%
                background-color: black
                color: white
                border-radius: 4px
        #divSubmit
            margin-top: 40px
            text-align: center
            button
                color: white
                background-color: black
                font-family: unbutton
                font-size: 30px
                padding: 10px 20px 20px 20px
                transition: 0.1s ease
            button:hover
                outline: 2px solid black
                background-color: white
                color: black
                transition: 0.1s ease
    #divContactRight
        width: 40%
        font-family: libertiner

p
    margin: 10px 0 10px 0

input
    height: 30px
    background-color: black
    color: white
    border-radius: 4px