#header
    background-color: black
    display: flex
    justify-content: space-between
    padding: 10px 0 10px 0
    #headerLeft
        padding-left: 20px
        #headerLeftTitle
            font-family: forum
            color: white
            margin: 0
    .navLinks
        width: 30%
        display: flex
        justify-content: space-between
        padding: 0 20px 0 20px
        align-items: center
        .navEl
            text-decoration: none
            font-family: forum
            color: white
            margin: 0 15px
            font-size: 20px
            transition: 0.5s ease
        .navEl:hover
            color: #807f7f
            transition: 0.5s ease
        .navEl:nth-child(1)
            font-family: unbutton
            padding-bottom: 2px
        .navEl:nth-child(3)
            font-family: open
            padding-bottom: 4px
        .navEl:nth-child(4)
            font-family: typewriter-regular
            font-size: 18px