#presentation
    margin: 70px 0 0 50px
    display: flex
    height: 600px
    #divVideo
        width: 33%
    #divTextePresentation
        width: 60%
        font-family: libertiner
        font-size: 1.75vw
        margin-left: 50px
        margin-top: 30px
        p
            #spanSmiley
                font-family: forum
            #spanElectronic
                font-family: forced-square
            #spanGlitch
                font-family: hemi
                font-size: 1.6vw
            #spanHorror
                font-family: mortified
                font-size: 1.85vw
                transition: 0.5s ease
            #spanHorror:hover
                text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red
                transition: 0.5s ease
            #spanDystopia
                font-family: inversionz
                font-size: 2.2vw
                transition: 0.5s ease
                a
                    text-decoration: none
                    color: black
            #spanDystopia:hover
                filter: invert(100%)
                text-shadow: 0px 0px 10px #ffffff
                transition: 0.5s ease
            #spanLoyd
                font-family: newston
                font-size: 2.2vw
                a
                    text-decoration: none
                    color: black
            #ethereum
                height: 25px
                margin-left: 15px


// IPAD PRO
@media screen and (min-width:769px) and (max-width:1024px)
    #presentation
        display: block
        #divVideo
            width: 50%
            margin: auto
            padding-right: 20px
        #divTextePresentation
            width: 90%
            font-size: 3vw
            margin-left: 40px
            // text-align: center
            padding-right: 20px
            margin-top: 80px
            p
                #spanGlitch
                    font-size: 2.5vw
                #spanHorror
                    font-size: 3vw
                #spanDystopia
                    font-size: 3.2vw

// IPAD
@media screen and (min-width:540px) and (max-width:769px)
    #presentation
        display: block
        #divVideo
            width: 50%
            margin: auto
            padding-right: 20px
        #divTextePresentation
            width: 90%
            font-size: 3vw
            margin-left: 40px
            padding-right: 20px
            margin-top: 80px
            p
                #spanGlitch
                    font-size: 2.5vw
                #spanHorror
                    font-size: 3vw
                #spanDystopia
                    font-size: 3.2vw

// IPHONE X
@media screen and (min-width:375px) and (max-width:539px)
    #presentation
        display: block
        #divVideo
            width: 50%
            margin: auto
            padding-right: 20px
        #divTextePresentation
            width: 90%
            font-size: 3vw
            margin-left: 5px
            margin-right: 20px
            padding-right: 40px
            margin-top: 50px
            p
                #spanGlitch
                    font-size: 2.5vw
                #spanHorror
                    font-size: 3vw
                #spanDystopia
                    font-size: 3.2vw